---
version: '3.5'
services:

  fluentd:
    image: "{{ docker_image_fluentd_forwarder | default('registry.gitlab.com/devops_containers/dockers/fluentd:1.13.1-alpine-v1.1.1') }}"
    hostname: {{ f_LocalHostName }}
    volumes:
       - "{{ fluentd_logs_root_dir | default('/fluentdlogs') }}:/fluentdlogs"
       - "{{ f_fluentd_config_dir }}:/etc/fluentd"
       - "{{ laravel_log_path_root }}:{{ laravel_log_path_root }}"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 33
        window: 30s
      update_config:
        parallelism: 1
        delay: 3s
        failure_action: continue
        monitor: 3s
        max_failure_ratio: 0.3



