<system>
  log_level warn
  workers 1
</system>


 <source>
  @type tail
    path {{ laravel_log_path_root }}/laravel-%Y-%m-%d.log
    pos_file /fluentdlogs/log-app.pos
    read_from_head true
    tag laravel_log
  <parse>
    @type multiline
    format_firstline /^\[2\d{3}-[01]\d-[0-3]\d [012]\d:[0-5]\d:[0-5]\d\]/
    format1 /^\[(?<time>2\d{3}-[01]\d-[0-3]\d [012]\d:[0-5]\d:[0-5]\d)\] (?<level>(.*?)): (?<message>.*)/
  </parse>
</source>

<filter laravel_log>
  @type record_transformer
  <record>
    hostname ${hostname} 
  </record>
</filter>


<match laravel_log.**>
  @type copy
    <store>
      @type file
        flush_interval 1s
        @log_level warn 
        path /fluentdlogs/laravel_log
        buffer_path /fluentdlogs/buffer/laravel_log
        time_slice_format %Y%m%d
        time_slice_wait 24h
        append true
        include_tag_key true
   </store>
   <store>
     @type elasticsearch
       host {{ elk_url }}
       port {{ elk_port }}
       scheme {{ elk_scheme }}
       ssl_verify false
       ssl_version TLSv1_2      
       user  {{ elk_user }}
       password {{ elk_password }}
       type_name  _doc
       index_name {{ elk_log_index_name | default('laravel') }}
       logstash_prefix  {{ elk_log_index_prefix | default('laravel') }}
       logstash_format true
       logstash_dateformat %Y.%m.%d
       flush_interval 5s
       request_timeout 10s
       reload_connections true
       reload_on_failure true
       reconnect_on_error true
       include_tag_key true
       tag_key @log_name
       include_timestamp true
       suppress_type_name true
       request_timeout 15s
       <buffer>
         @type file
           path /fluentdbuffer/elastic/laravel
           flush_mode interval
           retry_type exponential_backoff
           flush_thread_count 16
           flush_interval 15s
           retry_forever true
           retry_max_interval 30
           chunk_limit_size 16M
           queue_limit_length 12000
           overflow_action block
       </buffer>
     </store>
</match>